img{
    border: green solid 5px;
    border-radius: 10px;
    width: 600px;
    height: 400px;
}

h1{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}